@font-face {
    font-family: 'RNS';
    src: url('rns_fonts_-_rns_miles-webfont.woff2') format('woff2'),
         url('rns_fonts_-_rns_miles-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}